<!DOCTYPE html>
<html lang="en">
<head>
<style>
  body {
    background-color: #536373 !important;
    }
  .sidebar-nav{
    margin-top: 33px;
    padding: 0;
    font-size: 75;
    list-style: none;
    text-align: center;
    color: white;
  }
  a:link, a:active, a:hover, a:visited {
    color: white;
    }
  }
</style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
        <h3> BUDDY SYSTEM</h3>
        <img src="https://vectr.com/sarahyang/dGxewJwo.svg?width=143&height=101.65&select=d37qgUM4G,a34tiRS5Nb,a9M2oEqCB,h33K6zmZ3M,c53AvIXKME,ad2u9l9SQ,b1amEoFqTW&source=selection&quality=1">
          <p></p>
          <p></p>
          <li><a href="{% url 'index' %}">Home</a></li>
          {% if user.is_authenticated %}
          <li>User: {{ user.get_username }}</li>
          <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
          <li><a href="{% url 'signup'%}?next={{request.path}}">Sign Up</a></li>
          {% endif %}
      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
